<!DOCTYPE html>
<html ng-app="Myapp">
<title>SIMPLE CALCULATOR</title>
<script src="angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script>
	angular.module('Myapp',[])
	.controller('MyController',function($scope)
	{
	$scope.n1="";
	$scope.n2="";
	$scope.totalvalue=0;
	$scope.cal=function(){
	var t=tcal();
	$scope.totalvalue=t;

	}
	function tcal(){
	return parseInt($scope.n1)+parseInt($scope.n2);
	}
	})
</script>
<body>
<div ng-controller="MyController">
<div>
first no:
<input type="text" ng-model="n1" ng-keyup=cal()>
</div>
<div>
second no:
<input type="text" ng-model="n2" ng-keyup=cal()>
</div>
<div>
total is: {{totalvalue}}
</div>
</div>
</body>
</html>

