<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
  <head>
    <meta charset="utf-8">
    
    
   <script type="text/javascript"
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="angular.min.js"></script>
    
    <script src="factapp.js"></script>

    <link rel="stylesheet" href="styles.css">
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service Through a Factory</h1>

   

    <!-- LIST #2 (limited to 3 items) -->
    <div id="list2" ng-controller='ShoppingListController2 as list2'>
      <h3>Shopping List #2 (limited to 3 items)</h3>
      <input type="text" ng-model="list2.itemName" placeholder="item name">
      <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
      <button ng-click="list2.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list2.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="list2.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div class="error">Error: {{list2.errorMessage}}</div>
    </div>

  </body>
</html>